name: pytest

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Run the pytest script.'
        required: false
        default: ""
  push:
    branches: [ main, staging ]
  pull_request:
    branches:
      - main
      - staging

jobs:
  tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        name: Integration Tests
        run: ./scripts/test.sh db
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
          MRSM_TEST_FLAVORS: "all"
          MRSM_DEBUG: "false"
          MRSM_INSTALL_PACKAGES: "api"
